/* colorful and balanced color scheme taken from https://visme.co/blog/website-color-schemes */
:root {
    --cnbOrange: #e27d60;
    --cnbTeal: #85dcb8;
    --cnbPeach: #e8a87c;
    --cnbPink: #c38d9e;
    --cnbAqua: #41b3a3;
}

/* imported google font https://fonts.google.com/specimen/Varela+Round?query=varela */
body {
    font-family: 'Varela Round', sans-serif;
}

#landingBg {
    height: 100%;
    width: 100%;
}

#landingBg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

#today {
    position: absolute;
    color: var(--cnbOrange);
    text-shadow: 2px 2px 5px white;
    font-weight: bold;
    font-size: 60px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* open scheduler button */
#openButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
/* button design for opening scheduler */
#openSchedulerButton {
    opacity: 0.5;
    font-size: 40px;
    font-weight: bold;
    color: var(--cnbTeal);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--cnbOrange);
    cursor: pointer;
}

/* hover design for button */
#openSchedulerButton:hover {
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

/* hide reveal concept grabbed from code quiz assignment */
#scheduleBody {
    opacity: 1;
    z-index: 5;
}

.jumbotron {
    text-align: center;
    background-color: var(--cnbAqua);
    color: white;
    text-shadow: 2px 2px 5px black;
    box-shadow: 0px 3px 5px 1px black;
}

#schedulerHtml {
    background-color: var(--cnbPeach);
}

#todayInScheduler {
    color: white;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
    font-size: 60px;
    padding-top: 15px;
}

/* styling for created forms */
.row {
    white-space: pre-wrap;
    height: 100px;
    border-top: 1px dashed white;
}

/* adjust styling for input area with all information for each hour */
textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    resize: none;
    color: black;
    padding: 15px;
}

/* styling for schedule time */
.scheduleTime {
    background-color: var(--cnbAqua);
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    border-right: 3px solid white;
}

/* styling to indicate past time in scheduler */
.past {
    background-color: gray;
    color: white;
}

/* styling to indicate present time in scheduler */
.present {
    background-color: var(--cnbTeal);
    color: black;
}

/* styling to indicate future time in scheduler */
.future {
    background-color: var(--cnbPink);
    color: black;
}